//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@import "nullstyle.scss";
//====================================================
//<ШРИФТЫ>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/*font-family: 'Oswald', sans-serif;*/
//====================================================
//<ПЕРЕМЕННЫЕ>
$minw: 320;
$maxw: 1110;//изменить в соответствии с макетом!
$md1: 991.98;
$md2: 780;
$md3: 768.98;
$md4: 575.98;
$md5: 479.98;
$md6: 426;
$md7: 375;

//<ЦВЕТА>
$main: #343434;
$light: #fff;
$accent: #005BC1;
$gray: #979797;
//====================================================
//<МИКСИНЫ>
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
@mixin flexorder($fz) {-webkit-order: $fz;-moz-order: $fz;order: $fz;}
//====================================================
//<ОСНОВНАЯ СЕТКА>
body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: $main;
}
.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}
.container {
	max-width: $maxw+px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: 1200px) {
		max-width: none;
		padding: 0px 30px;
	}
	@media (max-width: $md6+px) {
		padding: 0px 20px;
	}
}
.btn {
	display: block;
	height: 51px;
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: $light;
	padding: 15px 0;
	&:hover,
	&:active {
		text-decoration: underline;
	}
}
.title-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: $md3+px) {
		flex-direction: column;
	}
}
.title {
	display: flex;
	align-items: center;
	@media (max-width: $md5+px) {
		flex-direction: column;
	}
}
.arrows {
	display: flex;
	.arrow {
		width: 55px;
		height: 55px;
		border: 2px solid #005BC1;
		background-color: #fff;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		text-align: center;
		font-size: 0;
		cursor: pointer;
	}
	.arrow--prev {
		background-image: url('../img/projects/icons/arrow_l.jpg');
	}
	.arrow--next {
		background-image: url('../img/projects/icons/arrow_r.jpg');
	}
	@media (max-width: $md5+px) {
		.arrow {
			width: 45px;
			height: 45px;
		}
	}
}
.title-lines {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-right: 40px;
	@media (max-width: $md4+px) {
		margin-right: 25px;
	}
	@media (max-width: $md5+px) {
		@include flexorder(2);
		align-items: center;
		margin-right: 0;
	}
}
.line {
	display: block;
	height: 3px;
	background-color: #005BC1;
	@media (max-width: $md5+px) {
		height: 2px;
	}
}
.line__top {
	width: 100px;
	margin-bottom: 13px;
	@media (max-width: $md5+px) {
		margin-bottom: 9px;
	}
}
.line__bottom {
	width: 50px;
}
.h2--title {
	position: relative;
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 44px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	@media (max-width: $md4+px) {
		font-size: 27px;
		line-height: 42px;
		margin-bottom: 12px;
	}
	@media (max-width: $md5+px) {
		@include flexorder(1);
		text-align: center;
	}
}
.h3--title {
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

/*===HEADER===*/
.header {
	position: relative;
	width: 100%;
	z-index: 50;
	background-color: rgba(0, 91, 193, .6);
	&-body {
		position: relative;
		display: flex;
		align-items: center;
		height: 80px;
		padding: 0 40px;
	}
	&__logo {
		flex: 0 0 140px;
		img {}
	}
	&__burger {
		display: none;
	}
	&__menu {
		flex: 1;
	    display: flex;
	    justify-content: center;
	    margin-left: -30px;
	}
	&__list {
		display: flex;
		li {
			margin: 0 13px;
		}
	}
	&__link {
		font-weight: 600;
		color: $light;
		&:hover {
			text-decoration: underline;
		}
	}
	@media (max-width: $md1+px) {
		&-body {
			padding: 0 30px;
		}
	}
}

/*===MOBILE MENU===*/
@media (max-width: $md2+px) {
	body.lock {
		overflow: hidden;
	}
	.header {
		&-body {
			height: 60px;
			justify-content: space-between;
		}
		&__logo {
			img {
				max-width: 80%;
			}
		}
		&__burger {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			z-index: 3;
			span {
				position: absolute;
				background-color: #fff;
				width: 100%;
				height: 2px;
				left: 0;
				top: 9px;
				transition: all 0.3s ease 0s;
			}
		}
		&__burger:before,
		&__burger:after {
			content: '';
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.3s ease 0s;
		}
		&__burger:before {
			top: 0;
		}
		&__burger:after {
			bottom: 0;
		}
		&__burger.active span {
			transform: scale(0);
		}
		&__burger.active:before {
			transform: rotate(45deg);
			top: 9px;
		}
		&__burger.active:after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
		&__menu {
			position: fixed;
			display: block;
			width: 100%;
			height: 100%;
			left: 0;
			top: -100%;
			overflow: auto;
			background-color: rgb(0, 91, 193);
			padding: 100px 0 20px 30px;
			transition: all 0.3s ease 0s;
			margin-left: 0;
		}
		&__menu.active {
			top: 0;
		}
		&__list {
			display: block;
			li {
				margin: 0 0 20px 0;
			}
		}
		&__link {
			font-size: 16px;
		}
	}
}
@media (max-width: $md6+px) {
	.header {
		&-body {
			padding: 0 20px;
		}
		&__menu {
			padding: 80px 0 20px 20px;
		}
	}
}

//===ОСНОВНОЙ БЛОК===//
.content {
	margin-top: -80px;
	@media (max-width: $md2+px) {
		margin-top: -60px;
	}
}

/*===MAIN SECTION===*/
.main {
	background-image: url('../img/main/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0%;

	&-body {
		background-image: url('../img/main/rectangle.svg');
		background-repeat: no-repeat;
		padding: 282px 0 201px;
		background-size: 499px;
		background-position: 0px 80px;
		&__inner {
			max-width: 625px;
			margin: 0 auto;
		}
	}
	&__title {
		font-family: 'Oswald', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		line-height: 71px;
		letter-spacing: 0.01em;
		color: $light;
		margin-bottom: 40px;
	}
	&__subtitle {
		font-size: 16px;
		line-height: 22px;
		color: $light;
		margin-bottom: 40px;
	}
	&-button {
		display: flex;
	}
	&__btn {
		width: 160px;
		border: 2px solid #fff;
	}
	@media (max-width: $md2+px) {
		&-body {
			background-position: 0 60px;
			padding: 230px 0 100px;
			&__inner {
				max-width: none;
			}
		}
	}
	@media (max-width: $md5+px) {
		&-body {
			padding: 190px 0 90px;
		}
		&__title {
			font-size: 36px;
			line-height: 50px;
			margin-bottom: 30px;
		}
	}
}

/*===PROJECTS SECTION===*/
.projects {
	padding: 150px 0 0;

	&-title-block {
		margin-bottom: 65px;
	}
	/*My slider*/
	&-slider {
		overflow: hidden;
		position: relative;
		margin: 0 -15px;
		&__inner {
			display: flex;
			transition: 0.5s all;
		}
	}
	.slider__item {
		margin: 0 15px;
		img {
			max-width: 100%;
		}
	}
	@media (max-width: $md1+px) {
		padding: 90px 0 0;

		&-slider {
			max-width: 570px;
			margin: 0 auto;
		}
	}
	@media (max-width: $md3+px) {
		&-title-block {
			margin-bottom: 50px;
		}
		&-title {
			margin-bottom: 30px;
		}
	}
	@media (max-width: $md4+px) {
		&-slider {
			margin: 0 -15px;
		}
	}
	@media (max-width: $md5+px) {
		&-slider {
			margin: 0 -10px;
		}
		.slider__item {
			margin: 0 10px;
		}
	}
	@media (max-width: $md6+px) {
		padding: 60px 0 0;

		&-title-block {
			margin-bottom: 40px;
		}
	}
}

/*===CATALOG SECTION===*/
.catalog {
	padding: 150px 0 0;

	&-title-block {
		margin-bottom: 70px;
	}
	&-body__headings {
		display: flex;
		justify-content: center;
		margin-bottom: 55px;
	}
	&-heading {
		font-family: 'Oswald', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 36px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $main;
		background-color: #fff;
		border: 0;
		cursor: pointer;
		margin-right: 47px;
		&:last-child {
			margin-right: 0;
		}
		&:hover,
		&:active {
			color: $accent;
			text-decoration: underline;
		}
		&__active {
			color: $accent;
			text-decoration: underline;
		}
	}
	.body-products {
		display: flex;
		justify-content: center;
	}
	.hide {
		display: none;
	}
	.show {
		display: flex;
	}
	&-column {
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
	}
	.column-item {
		max-width: 350px;
		position: relative;
	}
	.item__img {
		max-width: 100%;
	}
	.item-title {
		position: absolute;
	    bottom: 15px;
	    right: 0;
		width: 265px;
		height: 86px;
		display: flex;
		align-items: center;
		background-color: #005BC1;
		padding-left: 21px;
	}
	.item-title__link {
		font-family: 'Oswald', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 27px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $light;
		&:hover,
		&:active {
			text-decoration: underline;
		}
	}
	@media (max-width: $md1+px) {
		padding: 90px 0 0;
		
		.body-products {
			flex-direction: column;
			align-items: center;
		}
		&-column {
			margin-right: 0;
			margin-bottom: 40px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	@media (max-width: $md3+px) {
		&-title-block{
			display: flex;
			justify-content: center;
			margin-bottom: 50px;
		}
	}
	@media (max-width: $md5+px) {
		&-body__headings {
			margin-bottom: 45px;
		}
		.heading__link {
			font-size: 22px;
			line-height: 34px;
		}
	}
	@media (max-width: $md6+px) {
		padding: 70px 0 0;

		&-title-block{
			margin-bottom: 40px;
		}
		.item-title {
			width: 225px;
			height: 66px;
			padding-left: 19px;
		}
		.item-title__link {
			font-size: 16px;
			line-height: 25px;
		}
	}
}

/*===RENT SECTION===*/
.rent {
	padding: 150px 0 0;

	&-title-block {
		margin-bottom: 40px;
	}
	&-body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-column__txt {
		flex: 0 1 350px;
		margin-right: 95px;
	}
	&__text {
		font-weight: 300;
		font-size: 18px;
		line-height: 25px;
	}
	&-column__slider {
		flex: 0 1 665px;
		min-width: 0;
	}
	&-column-item {
		border: 3px solid #005BC1;
		padding: 30px;
	}
	.column-title-block {
		margin-bottom: 29px;
	}
	/*My slider*/
	&-slider {
		overflow: hidden;
		&__inner {
			display: flex;
			transition: 0.5s all;
		}
	}
	&-slider__item {
		//opacity: 0;
		//transition: opacity 1.5s ease;
	}
	.slider-item__body {
		display: flex;
		justify-content: space-between;
	}
	.item-column-img {
		margin-right: 30px;
	}
	.slider-item__title {
		font-family: 'Oswald', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	.slider-item__list {
		padding-right: 60px;
		li {
			margin-bottom: 19px;
		}
	}
	.list-item {
		position: relative;
		font-weight: 300;
		padding-left: 16px;
		&::before {
			display: block;
			position: absolute;
			content: "";
			width: 4px;
			height: 4px;
			top: 50%;
			background-color: #343434;
			border-radius: 50%;
			margin-left: -16px;
		}
	}
	@media (max-width: 1200px) {
		&-title-block {
			margin-bottom: 70px;
		}
		&-body {
			flex-wrap: wrap;
			justify-content: center;
		}
		&-column__txt {
			flex: 1 1 100%;
			margin-right: 0;
			margin-bottom: 50px;
		}
		&__text {
			text-align: center;
			max-width: 870px;
			margin: 0 auto;
		}
		.slider-item__list {
			padding-right: 0;
		}
	}
	@media (max-width: $md1+px) {
		padding: 90px 0 0;
	}
	@media (max-width: $md3+px) {
		&-title-block {
			display: flex;
			justify-content: center;
			margin-bottom: 50px;
		}
		.column-title-block {
			margin-bottom: 30px;
		}
		&-slider__title {
			text-align: center;
			margin-bottom: 20px;
		}
		.slider-item__title {
			margin-bottom: 20px;
		}
		.slider-item__img {
			max-width: 100%;
		}
		.slider-item__list {
			li {
				margin-bottom: 10px;
			}
		}
	}
	@media (max-width: $md4+px) {
		.slider-item__body {
			flex-direction: column;
		}
		.column-title-block {
			margin-bottom: 0px;
		}
		.item-column-img {
			margin: 0 auto;
		}
		.slider-item__title {
			text-align: center;
		}
	}
	@media (max-width: $md6+px) {
		padding: 70px 0 0;

		&-title-block {
			margin-bottom: 40px;
		}
		&-column__txt {
			margin-bottom: 30px;
		}
		&-column-item {
			padding: 20px;
		}
	}
}

/*===NEWS SECTION===*/
.news {
	padding: 108px 0 120px;

	&-title-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 70px;
	}
	&-column__title {
		display: block;
		color: $main;
		&:hover {
			text-decoration: underline;
		}
	}
	&-button {
		display: flex;
	}
	&__btn {
		width: 190px;
		background-color: #005BC1;
	}
	&-body {
		display: flex;
		justify-content: space-between;
	}
	&-column__1 {
		flex: 1;
		display: flex;
		margin-right: 60px;
	}
	&-column-img {
		flex: 0 1 255px;
		margin-right: 30px;
		img {
			max-width: 255px;
		}
	}
	&-column-txt {
		flex: 0 1 255px;
		display: flex;
		flex-direction: column;
	}
	&-column-title {
		flex: 1;
		display: flex;
		justify-content: space-between;
	}
	&__date {
		font-weight: 600;
		color: $gray;
	}
	&__text {
		font-weight: 300;
		margin-bottom: 18px;
		flex: 1;
	}
	&__link {
		text-decoration-line: underline;
		color: $main;
	}
	&-column__2 {
		flex: 1;
		display: flex;
	}
	.column2-left {
		flex: 0 1 225px;
		margin-right: 60px;
	}
	.column-title {
		margin-bottom: 18px;
	}
	.column-bottom {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		img {
			display: block;
		}
	}
	.column2-right {
		flex: 0 1 227px;
	}
	&-bottom {
		width: 100%;
	}
	&-bottom-button {
		display: none;
	}
	@media (max-width: 1200px) {
		&-body {
			flex-wrap: wrap;
		}
		&-column__1,
		&-column__2 {
			flex: 1 1 100%;
			margin-right: 0;
			justify-content: center;
		}
		&-column__1 {
			margin-bottom: 50px;
		}
	}
	@media (max-width: $md1+px) {
		padding: 90px 0;
	}
	@media (max-width: $md3+px) {
		&-title-block {
			display: flex;
			justify-content: center;
			margin-bottom: 50px;
		}
		&-button {
			display: none;
		}
		&-column__1 {
			flex-direction: column;
			align-items: center;
			max-width: 85%;
	    	margin: 0 auto 35px;
		}
		&-column-img {
			margin-right: 0;
		}
		&-column-txt {
			flex: 0 1 auto;
			align-items: center;
		}
		&-column-title {
			flex: 0;
			flex-direction: column;
			align-items: center;
			margin-bottom: 18px;
		}
		&__text {
			flex: 0;
			text-align: center;
		}
		
		&__title {
			text-align: center;
		}
		&-column__2 {
			display: none;
		}
		.column2-left {
			display: flex;
		    flex-direction: column;
		    align-items: center;
			margin-right: 0;
		}
		&-bottom-button {
			display: flex;
			justify-content: center;
		}
	}
	@media (max-width: $md4+px) {
		&-title-block {
			justify-content: center;
		}
	}
	@media (max-width: $md5+px) {
		&-column__1 {
			max-width: none;
		}
		&-column-img {
			img {
				max-width: 100%;
				margin-bottom: 20px;
			}
		}
	}
	@media (max-width: $md6+px) {
		padding: 70px 0 50px;
		&-title-block {
			margin-bottom: 40px;
		}
	}
}

/*===FOOTER===*/
.footer {
	background-color: #005BC1;
	padding: 36px 0 25px;

	&-top {
		padding-bottom: 25px;
		border-bottom: 1px solid #fff;

		&__body {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	&__phone {
		font-family: 'Oswald', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 27px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #fff;
		&:hover {
			text-decoration: underline;
		}
	}
	&__address {
		font-weight: 600;
		color: $light;
	}
	&__mail {
		font-weight: 600;
		color: $light;
		&:hover {
			text-decoration: underline;
		}
	}
	&-body {
		padding: 25px 0;
		border-bottom: 1px solid #fff;

		&-menu {
			display: flex;
		}
	}
	&-body__column {
		&:first-child,
		&:nth-child(2) {
			flex: 1;
		}
		&:last-child {
			flex: 3;
			margin-bottom: -10px;
		}
	}
	&-menu__item {
		margin-bottom: 10px;
	}
	&-menu__link {
		font-weight: 300;
		color: $light;
		&:hover {
			text-decoration: underline;
		}
	}
	&-bottom {
		padding-top: 25px;

		&-body {
			display: flex;
			justify-content: space-between;
		}
	}
	&__text {
		font-weight: 300;
		color: $light;
	}
	@media (max-width: $md1+px) {
		&-top__body {
			flex-wrap: wrap;
		}
		&-top__column {
			margin-bottom: 10px;
			&:last-child {
				flex: 1 1 100%;
			}
		}
	}
	@media (max-width: $md3+px) {
		&-top__column {
			flex: 1 1 100%;
			&:nth-child(2) {
				@include flexorder(3);
				margin-bottom: 0;
			}
		}
		&-body__column {
			&:first-child,
			&:nth-child(2) {
				flex: 1;
			}
			&:last-child {
				flex: 2;
			}
		}
		&-bottom-body {
			flex-wrap: wrap;
		}
		&-bottom__column {
			flex: 1 1 100%;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	@media (max-width: $md5+px) {
		&-body-menu {
			flex-wrap: wrap;
		}
		&-body__column {
			&:first-child,
			&:nth-child(2) {
				flex: 1 1 100%;
			}
		}
	}
}


