//<ПЕРЕМЕННЫЕ>
$minw: 320;
$maxw: 1110;//изменить в соответствии с макетом!
$md1: 991.98;
$md2: 780;
$md3: 768.98;
$md4: 575.98;
$md5: 479.98;
$md6: 426;
$md7: 375;

//<ЦВЕТА>
$main: #343434;
$light: #fff;
$accent: #005BC1;
$gray: #979797;